<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    <link rel="stylesheet" href="styles/new-word.css">
    </head>
    <body>
        <h1>NEW WORD</h1>
        <div class="new-word-data">
            <p> All the definitions on Urban Dictionary were written by people just like you. Now's your chance to add your own! </p>
            <p> Please review Urban Dictionary's content guidelines before writing your definition. Here's the short version: Share definitions that other people will find meaningful and never post hate speech or people’s personal information. </p>
            <input type="text" placeholder="  Word">
            <input class="definition-input" type="text" placeholder="  Type your definition here, motherfucker...">
            <input class="example-input" type="text" placeholder="  Type an expamle of how it's used in a sentence, motherfucker...">
        </div>
        <div class="div-button">
            <button class="submit-button">Submit!</button>
        </div>
    </body>
</html>
